body{

    background-image: url("image/foto2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h1{

    color: cornsilk;
    font-size: 550%;
    font-weight: bold;
    text-align: center;
    margin-top: 5%;
}
.menu {

    margin-left: 3%;
    margin-top: 10%;
    margin-right: 60%;
    color: cornsilk;
    font-size: 350%;
}
.tekst{

    position: absolute;
    margin-top: 10%;
    margin-left: 50%;
    font-size: 400%;
    color: pink;

}
a{
    color: cornsilk;
    background-color: transparent;
    text-decoration: none;
}
a1{
    color: #7e7ef5;
}
.blog{

    position: absolute;
    margin-left: 25%;
    margin-top: 3%;
    font-size: 150%;
    font-weight: bold;
    color: cornsilk;
    float : right;
    text-align: left;
}
p1,p2{
    margin: 0% 0%;
}
.links{
    position: absolute;
    margin-left: 40%;
    margin-top: 5%;
    font-size: 300%;
    font-weight: bold;
    color: #f5f58b;
}
